* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6f9;
}

/* Navbar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background: linear-gradient(90deg, #ff416c, #ff4b2b);
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px;
}

nav ul li a:hover {background-color: #263fd2; padding: 10px; border-radius: 10px;}

/* Hero */
.hero {
  position: relative;
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(120deg, #667eea, #764ba2);
  color: white;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.hero p {padding: 20px;}

.hero button {
  padding: 12px 25px;
  border: none;
  background: #f70c0c;
  color: white;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.hero button:hover {
  background: #fc0d0da8;
}

/* .cctv-png {
  position:fixed;
  top: 0;
  right: 0;
  width: 100px;
} */

.cctv-wifi {
  /* position:absolute; */
  /* top: 0; */
  /* left: 0; */
  width: 300px;
}
.cctv-png {
  position: absolute;
  top: 0;
  right: 0;   /* Pojok kiri atas */
  width: 300px; /* Sesuaikan ukuran */
}

.cctv2-png {
  position: absolute;
  top: 0;
  left: 0;   /* Pojok kiri atas */
  width: 300px; /* Sesuaikan ukuran */
}

/* Filter */
.filter {
  text-align: center;
  margin: 30px 0;
}

.filter button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  background: #764ba2;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

/* Produk */
.produk-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.card {
  background: white;
  width: 250px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  text-align: center;
  transition: 0.3s;
}

.card a {color:red;}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.footer1 h1 {font-size: 30px; padding: 10px;}

.footer1 a { color: #ffffff; padding: 10px; background: blue; border: none; border-radius: 8px; text-decoration: none;}
.footer1 h1 {color: rgb(220, 249, 29);}
.footer1 h2 {padding: 15px}

.card h3 { margin: 10px 0;}

.card button {
  padding: 8px 60px;
  border: none;
  background: #ff416c;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  background: #333;
  color: white;
}